/logs
/target
/project/project
/project/target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
*~
bin/
.cache-main
.cache-tests
/db
.eclipse
/lib/
/logs/
/modules
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
.cache
*.swp
